<component name="libraryTable">
  <library name="spring-expression-5.0.2.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-instrument-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-indexer-5.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>